* {
    /* border: red 1px solid; */
}

body {
    background-color: #e1e1e1;
    color: #232323;
}

header {
    position: relative;
    background-color: #e1e1e1;
    display: flex;
    justify-content: center;
}

header div{
    background: url('./assets/team-brainstorming.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    filter: blur(2px) brightness(90%);
    border-bottom: #121212 solid 1px;
    padding: 150px;
    width: 100%;

}

header h1{
    font-size: 40px;
    position: absolute;
    top: calc(50% - 40px);
    left: 50%;
    transform: translateX(-50%);
    text-shadow: #121212 1px 1px;
}

section {
    font-size: 18px;
    background-color: #F3F3f3;
    max-width: 1050px;
    width: 100%;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2{
    margin-top: 50px;
    margin-left: 50px;
    align-self: flex-start;
}

main p {
    padding: 20px;
}

main ul {
    padding-left: 50px;
    align-self: flex-start;
}

figure{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
figure figcaption{
    margin-top: 10px;
    font-size: 14px;
}

